[submodule "Frameworks/Models"]
	path = Frameworks/Models
	url = git@github.com:kickstarter/Kickstarter-Models.git
[submodule "Frameworks/ReactiveExtensions"]
	path = Frameworks/ReactiveExtensions
	url = git@github.com:kickstarter/Kickstarter-ReactiveExtensions.git
[submodule "Frameworks/Alamofire"]
	path = Frameworks/Alamofire
	url = git://github.com/Alamofire/Alamofire.git
